@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fleet-Tracking</h1>

    <p class="lead">
        Your All-in-One Solution for Effortless Fleet Management.
    </p>

    <div class="mt-4">
        <p>
          This is a state-of-the-art software platform meticulously engineered to streamline transport vehicle administration and usage tracking, offering unparalleled efficiency in fleet management.
        </p>

        <p>
            Our comprehensive suite of tools is designed to minimize errors, boost operational productivity, and empower informed decision-making. Tailored features cater to various user roles, including office managers, service administrators, and trip managers, ensuring seamless coordination across your fleet operations.
        </p>

        <p>
            Whether you oversee a small fleet or manage a large-scale transportation network, FleetEase is your trusted partner, adapting to your unique requirements with ease. From monitoring vehicle status to scheduling service appointments, planning trips, and managing employee timesheets, FleetEase offers a holistic approach to optimizing your fleet management processes.
        </p>
    </div>

    <div class="mt-5">
        

        <p>
            Ready to experience the benefits of efficient fleet management? Log in to your account or contact us to explore how Fleet-Tracking can elevate your operations.
        </p>
    </div>
</div>
